<p>Admin Event Panel</p>
<a [routerLink]="['/ref', currentEventID]">Ref Mode</a>
<div *ngFor="let user of userDetails; let i = index" class="user-row">
  <strong>{{ user.name }}</strong>:

  <ng-container *ngIf="!isEditing[i]; else editTemplate">
    <span>{{ user.teamName || 'No Team' }}</span>
    <button (click)="toggleEdit(i)">Update</button>
  </ng-container>
  <button class="open-btn" (click)="removeUser(user.userID)">Remove</button>

  <ng-template #editTemplate>
    <select [(ngModel)]="selectedTeamIDs[i]" (change)="onTeamChange($event)">
      <option *ngFor="let v of teams" [value]="v.id">
        {{ v.name }}
      </option>
      <option disabled>──────────</option>
      <option value="new">Add New Team...</option>
    </select>

    <button (click)="saveTeam()" class="save-btn">Save</button>
    <button (click)="isEditing[i] = false" class="cancel-btn">Cancel</button>
  </ng-template>

</div>

<button (click)="toggleAddUserMenu()">Add User</button>
<div *ngIf="addUserMenu" >
  <div *ngFor="let item of people; let i = index">
    {{ item.name }}


    <input type="checkbox" [id]="'check-' + i" [name]="'subscribe-' + i" [value]="item.id" [(ngModel)]="selectedPeople[i]">
    <label [for]="'check-' + i"></label>

    <label [for]="'team-' + i">Team:</label>
    <select [(ngModel)]="selectedTeamIDs[i]" (change)="onTeamChange($event)">

      <option *ngFor="let v of teams" [value]="v.id">
        {{ v.name }}
      </option>

      <option disabled>──────────</option>


      <option value="new">Add New Team...</option>
    </select>
  </div>
  <button class="open-btn" (click)="saveNewPlayers()">Add New Users</button>
</div>
<br>
---base rules ------
<div *ngFor="let rule of baseRules; let i = index">
  {{rule.name}} {{rule.description}}  <button class="open-btn" (click)="removeBaseRule(rule.id)">Remove</button>

</div>

-------------new base rule----------------
<br>
<input type="text" [(ngModel)]="newBaseRule" placeholder="Rule outline">
<br>
<br>
<textarea
  [(ngModel)]="newBaseRuleDescription"
  placeholder="Rule description"
  rows="5"
  class="custom-textarea">
</textarea>

<button (click)="saveBaseRule(-1)">Add Base Rule</button>
<br>


---locations ------
<div *ngFor="let pub of locationsRules; let i = index">
  {{i+1}}
  {{pub.pubName}}
  {{pub.ruleName}}
  {{pub.ruleDescription}}
  <button class="open-btn" (click)="removeLocation(pub.id)">Remove</button>

</div>
-------------add location----------------
<br>
<input type="text" [(ngModel)]="newLocationName" placeholder="Location">
<br>
<br>
<input type="text" [(ngModel)]="newBaseRuleLocation" placeholder="Rule outline">
<br>
<br>
<textarea
  [(ngModel)]="newBaseRuleDescriptionLocation"
  placeholder="Rule description"
  rows="5"
  class="custom-textarea">
</textarea>

<button (click)="saveLocation()">Add Location</button>

<div *ngIf="showNewTeamForm" class="team-popup">
  <input type="text" [(ngModel)]="newTeamName" placeholder="Team Name">

  <label>Pick a color:</label>
  <input type="color" [(ngModel)]="newTeamColor">

  <button (click)="saveNewTeam()">Save</button>
  <button (click)="showNewTeamForm = false">Cancel</button>
</div>
